<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="myaccount.css">
</head>
<body>

	<h1>
	My account
	<div class="dropdown">
	  <button class="dropbtn">menu</button>
	  <div class="dropdown-content dropdown-menu-right">
		<a href="myaccount.html">My account</a>
		<a href="#">Transctions</a>
		<a href="#">Bank statment</a>
	</div>
	</h1>

	<div class="container1">
		<div class="box">
			<p> Account number </p>
		</div>
		<div class="box">
			<p> IBAN </p>
		</div>
		<div class="box">
			<p> Swift code </p>
		</div>
	</div>
	
	<div class="container2">
		<div class="box">
			<p> 001231746328192 </p>
		</div>
		<div class="box">
			<p> 0012 3174 6328 1920 5412 2 </p>
		</div>
		<div class="box">
			<p> TUGA45 </p>
		</div>
	</div>
	
	
</div>

</body>
</html>